.sb-show-main,
.docs-story {
  background-color: white;
}

html {
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  .sb-show-main,
  .docs-story {
    background-color: black;
  }
}
